<div class="list-group list-group-item" style="margin:0 auto;margin-top:3.2em; max-width:400px">
<p><a class="btn btn-danger" href="/logout">Logout</a></p>
<h3>Welcome {{ .Name }} </h3>
<p><a href="two">Visit Page Two</a></p>
</div>